<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1145.v7f2433caa07f">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.9.3"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.9.3">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>testing maven using pipeline&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2648.va9433432b33c">
    <script>pipeline {
    // agent { node &quot;Slave1&quot; } or agent any 
    // agent { node { label &quot;java&quot;} }
    agent any
    environment {
        // Install the Maven version configured as &quot;maven3.8&quot; and add it to the path.
		// tool { maven &quot;maven3&quot;
		// another way of using maven given below.
		
        PATH=&quot;/opt/maven3/bin:$PATH&quot;
    }

    stages {
        stage(&apos;CheckOut&apos;) {
            steps {
    
                git branch: &apos;Dev&apos;, credentialsId: &apos;70860dd4-6c55-45b4-a377-6107adaa15a7&apos;, url: &apos;git@github.com:paramv10/SampleJavaCode.git&apos;
            }
        }
        stage(&apos;Build Maven &apos;) {
            steps {
             
                sh &quot;mvn -Dmaven.test.failure.ignore=true clean install  &quot;
               
            }
            
		}
		stage(&quot;Email-Notify&quot;){
                steps{ 
                    mail bcc: &apos;&apos;, body: &apos;&apos;&apos;Mail Integration Successful.
                    Build Successful.
                    Need Approval.&apos;&apos;&apos;, cc: &apos;pankajtripathi222@gmail.com&apos;, from: &apos;&apos;, replyTo: &apos;&apos;, subject: &apos;Testing Mail Integration With Jenkins pipeline&apos;, to: &apos;paramv10@gmail.com&apos;

                }
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>